p.exito {
    color: green;
    font-family: lato;
    display: inline-block;
    font-size: 14px;
}

p.error {
    color: red;
    font-family: lato;
    display: inline-block;
    font-size: 14px;
}